.swiper-container {
    margin-top: 120px; 
  }
  
  .mySwiper {
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-image: url(src/assets/Banner-Books/book1.png);
  }
  
  .swiper-slide:nth-child(2n) {
    background-image: url(src/assets/Banner-Books/book2.png);
  }
  
  .swiper-slide:nth-child(3n) {
    background-image: url(src/assets/Banner-Books/book3.png);
  }
  
  .swiper-slide:nth-child(4n) {
    background-image: url(src/assets/Banner-Books/book4.png);
  }
  
  .swiper-slide:nth-child(5n) {
    background-image: url(src/assets/Banner-Books/book5.png);
  }
  